.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin: 6px 0 10px;

  button.disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
  }
}
