.about-container {
  max-width: 700px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}
.about-container ul {
    padding-left: 20px;
}
.about-container a {
  color: var(--primary-color);
  text-decoration: underline;
}
