.header {
    background: linear-gradient(70deg, var(--primary-color), var(--secondary-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding: 20px 20px 0px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 22px;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        text-align: center;
    }
    h3 {
        font-size: 14px;
        text-align: center;
    }
}