.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    background-color: var(--ultra-light-gray-color);
    border-radius: 5px;
    padding: 4px;
    overflow-x: hidden;
    gap: 10px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        font-weight: bold;
        color: var(--dark-blue-gray-color);
        text-align: center;
        margin-bottom: 0px;
    }

    .total {
        font-size: 14px;
        color: var(--dark-blue-gray-color);
        text-align: center;
        margin-bottom: 10px;
    }

    .no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 10px;

        img {
            width: 60px;
            height: 60px;
        }

        p {
            font-size: 17px;
            color: var(--warning-color);
            text-align: center;
            padding: 0px 50px;
            font-weight: bold;
        }
    }

    .results-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}