.card-btn {
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    padding: 5px 20px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 900;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
    &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: var(--white-color);
    }    
}